
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  

</head>
<body>
  <h1 id="meuTitulo">Bem-vindo a Gatolândia</h1>
  <br><br><br><br>
  <form action="/login" method="GET">
  <button id="botaoGatinhos"> Olhar gatinhos  </button>  

  
  </form>
  
</body>
</html>
