<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/formulario.css">
</head>
<body>
  <h1 id="meuTitulo">Login</h1>
  <br><br>
        <form action="/logar" method="POST">
            <label for="email">E-mail:</label>
            <input type="text" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" required>

            <button type="submit">Entrar</button>
        </form>
        <br><br>
        <p>Não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
    </div>
  </div>
  
</body>
</html>
